<div class="filter-container">
    
    <div class="col-sm-2 align-items-center">
        <h5><b>Caste</b></h5>
    </div>
    <div class="col-sm-2 align-items-center">
        <h5><b>Geaography / Soils </b></h5>
    </div>
    <div class="col-sm-2 align-items-center">
        <h5><b>Seasons</b></h5>
    </div>
</div>