<nav>
    <div class="row">
        <div class="col-lg-12 text-center center">
            <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <center>
                <div class="switch">
                    <span class="en">English</span>
                    <input type="checkbox" class="check" onclick="languageSwitchCards();" id="languageToggle">
                    <span class="hi">हिंदी</span>
                </div>
            </center>
        </div>         
                    
                        
                        <div class="col-lg-4">
            
                        </div>  
                    </div>
                    
                  
        </div>
    </div>
</nav>