<!-- <div class="row">
            <div class="col-lg-6 ">
                <div class="row">
                <div class="col-lg-3 selection-foodplate">
                    <a href="/sheets/Sugarcane"> <div class="oval">Sugarcane & jaggery/sugar</div></a>
                <a href="/sheets/Fish"><div class="oval">Fish</div></a>
                <a href="/sheets/Dairy"><div class="oval">Dairy</div></a>
                <div class="oval">Pulses</div>
                <div class="oval">Meat</div>
                <div class="oval">Other collected food</div>
                <a href="/sheets/Land"><div class="oval">Land</div></a>
            </div>
            <br>
            <div class="col-lg-3 selection-foodplate">
                <div class="oval">Groundnuts & oilseeds</div>
                <a href="/sheets/Fruits"> <div class="oval">Fruits</div></a>
                <a href="/sheets/Barley"><div class="oval">Barley & millets</div></a>
                <div class="oval">Wheat & paddy</div>
                <div class="oval">Greens & Vegetables</div>
                <a href="/sheets/Hunger"> <div class="oval">Hunger</div></a>
                <div class="oval"></div>
            </div>
        </div>
            </div>
        </div> -->


<!-- <div class="row food-plate-parent">
        <div class="col-lg-12">

            <div class="food-plate-base-div" id="food-plate-div-base">
                <a href="/sheets/Land"><img src="/images/individual-elements/Land.png" class="food-plate-base"></a>
            </div>
            <div class="food-plate-children-div">
                <div class="row food-plate-line">
                    <a href="/sheets/Barley"><img src="/images/individual-elements/Barley_And_Millets.png" class="food-plate-barley food-plate-children-images"></a>
                    <img src="/images/individual-elements/Collected_Foods.png" class="food-plate-collected food-plate-children-images">
                    <a href="/sheets/Dairy"><img src="/images/individual-elements/dairy.png" class="food-plate-dairy food-plate-children-images"></a>


                    <a href="/sheets/Fish"><img src="/images/individual-elements/Fish.png" class="food-plate-fish food-plate-children-images"></a>
                </div>
                <div class="row food-plate-line">
                    <img src="/images/individual-elements/Groundnuts_and_Oilseeds.png" class="food-plate-groundnuts food-plate-children-images">

                    <a href="/sheets/Hunger"><img src="/images/individual-elements/Hunger.png" class="food-plate-hunger food-plate-children-images"></a>

                    <a href="/sheets/Meat"><img src="/images/individual-elements/Meat.png" class="food-plate-meat food-plate-children-images"></a>
                    <a href="/sheets/Pulses"><img src="/images/individual-elements/Pulses.png" class="food-plate-pulses food-plate-children-images"></a>
                </div>
                <div class="row food-plate-line">
                    <a href="/sheets/Sugarcane"><img src="/images/individual-elements/Sugarcane_And_Jaggery.png" class="food-plate-sugarcane food-plate-children-images"></a>
                    <img src="/images/individual-elements/Vegetables.png" class="food-plate-vegetables food-plate-children-images">
                    <!-- <img src="/images/individual-elements/Fruits.png" class="food-plate-fruits food-plate-children-images"> -->
<!-- <img src="/images/individual-elements/Wheat_And_Paddy.png" class="food-plate-wheat food-plate-children-images">
    </div>
    </div>
    </div>
    </div> -->-->