<%-include('includes/head')%>
    </head>

    <body>
        <div class="container">
            <h1 style="text-align: center;">This page is currently not available in this language to see the english verison of this click <a href="/en"><button type="button" class="btn btn-primary">here</button></a></h1>
        </div>
        <%-include('includes/foot')%>