<%-include('includes/head')%>
  <!-- <div class="container">
        <div class="simpl-btn align-items-center text-center">
            <h3 class="text-center">Crops</h3>
            <a href="/sheets/barley"><button class="btn btn-primary">Barley</button></a>
            <a href="/sheets/dairy"><button class="btn btn-default">Dairy</button></a>
            <a href="/sheets/fish"><button class="btn btn-danger">Fish</button></a>
            <a href="/sheets/fruits"><button class="btn btn-info">Fruits</button></a>
            <a href="/sheets/hunger"> <button class="btn btn-warning">Hunger</button></a>
            <a href="/sheets/land"><button class="btn btn-dark">Land</button></a>
            <a href="/sheets/sugarcane"> <button class="btn btn-success">Sugarcane</button></a>
        </div>

    </div> -->
  </head>

  <body>
    <div class="container container-type-1">
      <div id="contentEnglish" class="contentEnglishToggle">
        <div class="row">
          <div class="col-lg-12 landing-intro">
            <h2 class="title-main">
              Recovering food narratives – stories from western Avadh
            </h2><br>
            <p>Today, diets in western Avadh (Uttar Pradesh, India) mainly consist of roti (made of wheat),
              highly polished rice, potatoes, sugar, tea, and processed foods like biscuits. Only some
              families consume protein-rich foods like dairy, pulses, fish and meat every day—for the
              rest, these are now occasional delicacies. But what were diets like 30-40 years ago, and how
              have they changed? How are these changes linked to changes in land, policy and power
              structures?</p>
            <p>The food mat below represents findings from our multidisciplinary study on food and farming
              transitions in western Avadh. To learn more about specific crops and foods - how their
              production and consumption has changed, what contributed to these changes and how people of
              different classes, castes or religions have experienced them, click on the icon of that
              crop/food. You can also learn more about hunger and changes in land by clicking on those
              terms on the mat.</p>
            <p>For more details about this research, <a href="#food-and-farming">go here</a></p>
          </div>
        </div>
      </div>
      <div id="contentHindi" class="contentHindiToggle">
        <div class="row">
          <div class="col-lg-12 landing-intro">
            <h2 class="title-main">
              जमीन और खान-पान की कहानियाँ - पश्चिमी अवध के अनुभव
            </h2><br>
            <p>पश्चिमी अवध में आज अधिकतर लोग सिर्फ गेहूं की रोटी, सफेद चावल, आलू, चाय, चीनी और बाजारी पदार्थ, जैसे
              बिस्किट और रस्क, खा रहे है। सिर्फ कुछ परिवार हर दिन दाल, दुग्ध पदार्थ, अण्डा या मीट-मछली खा पा रहे है -
              बाकी के लिये यह कभी-कभी खाने वाले चीज़ हो गये है। लेकिन 30-40 साल पहले खान-पान कैसा था, और यह कैसे बदला?
              यह बदलाव कृषि, नीति और सामाजिक नर्गीकरण से कैसे जुड़े है?</p>
            <p>‘खेती, खाना और पोषण के रिश्ते’ - इस अध्ययन से मिली जानकारियाँ इस पोर्टल पर उपलब्ध है। और जानने के लिये
              नीचे चटाई पर कोई भी चीज़ पर क्लिक कीजिये। <a href="#food-and-farming-hindi">अध्ययन के बारे में और जानने के
                लिये यहां क्लिक कीजिये।</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="row ">
            <center>
              <div class="col-lg-3 selection-foodplate ">
                <a href="/sheets/Sugarcane">
                  <div class="oval"><img src="/images/individual-elements/Sugarcane_And_Jaggery.png">
                  </div>
                </a>
                <a href="/sheets/Fish">
                  <div class="oval"><img src="/images/individual-elements/Fish.png"></div>
                </a>
                <a href="/sheets/Dairy">
                  <div class="oval "><img src="/images/individual-elements/dairy.png"></div>
                </a>
                <a href="/sheets/Pulses">
                  <div class="oval"><img src="/images/individual-elements/Pulses.png"></div>
                </a>
                <a href="/sheets/Meat">
                  <div class="oval"><img src="/images/individual-elements/Meat.png"></div>
                </a>
                <a href="/sheets/ocf">
                <div class="oval"><img src="/images/individual-elements/Collected_Foods.png"></div>
              </a>
                <a href="/sheets/Land">
                  <div class="oval"><img src="/images/individual-elements/Mat.png"></div>
                </a>
              </div>
              <br>
              <div class="col-lg-3 selection-foodplate ">
                <a href="/sheets/gao">
                  <div class="oval"><img src="/images/individual-elements/Groundnuts_and_Oilseeds.png"></div>
                </a>
                <a href="/sheets/Fruits">
                  <div class="oval"><img src="/images/individual-elements/Fruits.png"></div>
                </a>
                <a href="/sheets/Barley">
                  <div class="oval"><img src="/images/individual-elements/Barley_And_Millets.png">
                  </div>
                </a>
                <a href="/sheets/Wheat">
                  <div class="oval "><img src="/images/individual-elements/Wheat_And_Paddy.png"></div>
                </a>
                <a href="/sheets/Greens">
                  <div class="oval "><img src="/images/individual-elements/Vegetables.png"></div>
                </a>
                <a href="/sheets/Hunger">
                  <div class="oval "><img src="/images/individual-elements/Hunger.png"></div>
                </a>

              </div>
            </center>
          </div>
          <div class="contentEnglishToggle" id="contentEnglish">
            <div class="parent-foodplate">
              <img class="foodplate" src="/images/individual-elements/Mat.png">
              <div class="childfp groundnuts">
                <a href="/sheets/Groundnuts"><img src="/images/individual-elements/Groundnuts_and_Oilseeds.png"></a>
              </div>
              <div class="childfp fish">
                <a href="/sheets/Fish"><img src="/images/individual-elements/Fish.png"></a>
              </div>
              <div class="childfp dairy">
                <a href="/sheets/Dairy"><img src="/images/individual-elements/dairy.png"></a>
              </div>
              <a href="/all">
                <div class="all childfp">
                  <img src="/images/individual-elements/All_food.png">
                </div>
              </a>
              <div class="childfp meat">
                <a href=/sheets/Meat><img src="/images/individual-elements/Meat.png"></a>
              </div>
              <div class="childfp pulses">
                <a href="/sheets/Pulses"><img src="/images/individual-elements/Pulses.png"></a>
              </div>
              <div class="childfp greens">
                <a href="/sheets/Greens"><img src="/images/individual-elements/Vegetables.png"></a>
              </div>
              <div class="childfp wheat">
                <a href="/sheets/Wheat"><img src="/images/individual-elements/Wheat_And_Paddy.png"></a>
              </div>
              <div class="childfp ocf">
                <a href=/sheets/ocf><img src="/images/individual-elements/Collected_Foods.png"></a>
              </div>
              <div class="childfp hunger">
                <a href="/sheets/Hunger"><img src="/images/individual-elements/Hunger.png"></a>
              </div>
              <div class="land childfp">
                <a href="/sheets/Land">
                  <img src="/images/individual-elements/Land.png">
                </a>
              </div>
              <div class="childfp fruits">
                <a href="/sheets/Fruits"><img src="/images/individual-elements/Fruits.png"></a>
              </div>
              <div class="childfp jaggery">
                <a href="/sheets/Sugarcane"><img src="/images/individual-elements/Sugarcane_And_Jaggery.png"></a>
              </div>
              <div class="childfp barley">
                <a href="/sheets/Barley"><img src="/images/individual-elements/Barley_And_Millets.png"></a>
              </div>
            </div>

          </div>
          <div class="contentHindiToggle" id="contentHindi">
            <div class="parent-foodplate">
              <a href="/sheets/Land"><img class="foodplate" src="/images/individual-elements/Mat.png"></a>
              <div class="childfp groundnuts">
                <a href="/sheets/groundnuts"><img
                    src="/images/individual-elements/hindi/Groundnuts_and_Oilseeds.png"></a>
              </div>
              <div class="childfp fish">
                <a href="/sheets/Fish"><img src="/images/individual-elements/hindi/Fish.png"></a>
              </div>
              <div class="childfp dairy">
                <a href="/sheets/Dairy"><img src="/images/individual-elements/hindi/Dairy.png"></a>
              </div>
              <a href="/all">
                <div class="all childfp">
                  <img src="/images/individual-elements/hindi/All_food.png">
                </div>
              </a>
              <div class="childfp meat">
                <a href=#><img src="/images/individual-elements/hindi/Meat.png"></a>
              </div>
              <div class="childfp pulses">
                <a href="/sheets/Pulses"><img src="/images/individual-elements/hindi/Pulses.png"></a>
              </div>
              <div class="childfp greens">
                <a href='/sheets/greens'><img src="/images/individual-elements/hindi/Vegetables.png"></a>
              </div>
              <div class="childfp wheat">
                <a href='/sheets/wheatAndPaddy'><img src="/images/individual-elements/hindi/Wheat_And_Paddy.png"></a>
              </div>
              <div class="childfp ocf">
                <a href='/sheets/ocf'><img src="/images/individual-elements/hindi/Collected_Foods.png"></a>
              </div>
              <div class="childfp hunger">
                <a href="/sheets/Hunger"><img src="/images/individual-elements/hindi/Hunger.png"></a>
              </div>
              <div class="childfp fruits fruits-hindi">
                <a href="/sheets/Fruits"><img src="/images/individual-elements/hindi/Fruits.png"></a>
              </div>
              <div class="childfp jaggery">
                <a href="/sheets/Sugarcane"><img src="/images/individual-elements/hindi/Sugarcane_And_Jaggery.png"></a>
              </div>
              <div class="childfp barley barley-hindi">
                <a href="/sheets/Barley"><img src="/images/individual-elements/hindi/Barley_And_Millets.png"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="contentEnglish" class="contentEnglishToggle">
        <div class="row">
          <div class="col-lg-12 landing-text" id="food-and-farming">
            <h3 class="subtitle-home">
              Transitions in food and farming
            </h3><br>
            <p>Well into the 1980s, the region of Sitapur (located in western Avadh, Uttar Pradesh, India) was
              famous across north India for its dals (pulses). Flanked by the Gomti and Sharda rivers and
              dotted with wetlands, Sitapur district was a major producer of urad (black gram), arhar (pigeon
              pea), masur (lentil) and chana (gram) as well as groundnuts. Not only were these nutritious
              foods sent across the country along the railway network, they were also an integral part of
              local diets, even of the most marginalised.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 imageHomeDiv">
            <center>
              <div class="imageHome">
                <figure>
                  <img src="/images/main/mapData/Map1_English.jpg">
                  <figcaption id="captionHome1">Location of the study region</figcaption>
                </figure>
              </div>
            </center>
          </div>
          <div class="col-lg-6 imageHomeDiv">
            <center>
              <div class="imageHome">
                <figure>
                  <img src="/images/main/mapData/Map2_English.jpg" id="imageHome2">
                  <figcaption id="captionHome2">An ahistorical sketch of the study region, depicting the
                    various features (some no longer in existence) described by respondents.
                  </figcaption>
                </figure>
              </div>
            </center>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 landing-intro">

            <p>Along with these protein rich foods, diets included jaggery (high in iron and micronutrients),
              milk and ghee (clarified butter) for the rich and raab (liquidy jaggery) along with buttermilk
              (byproduct of the butter-making process) for the poor. Nutritious cereals like barley, bajra
              (pearl millet), dhaani (indigenous red rice) and husked millets (barnyard, kodo and foxtail)
              were cultivated and consumed across caste and class, although elite households ate wheat and
              white rice. Several varieties of vegetables, greens and fruits were cultivated, and many that
              grew in the wild were collected. Animals – cattle, goats and pigs – were an integral part of the
              farming system, and bred for milk or meat. Wild rice, fish, mushrooms, wild animals, tubers and
              other wild foods were hunted or collected from forests, wetlands and fallow fields and formed an
              integral part of food cultures. Diets changed with the seasons, and festivals marked these
              changes through ritualised consumption of seasonal foods. You will be able to hear or read about
              some of these dietary practices as you browse specific items on the food mat.</p>
            <p>Today, very few of these foods can be found growing in the region and they have also disappeared
              from people’s plates. In the past 40-50 years, changes in the agrarian landscape and the
              availability of packaged foods have transformed diets, and this has had a serious impact on
              household nutrition.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 landing-pills">
            <ul class="nav nav-pills nav-pills-custom">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#Research" role="tab" aria-controls="pills-Research"
                  aria-selected="true">Research</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#Findings" role="tab" aria-controls="pills-Findings"
                  aria-selected="false">Research findings</a>
              </li>
            </ul>
            <div class="tab-content mt-3">
              <div class="tab-pane fade show active" id="Research" role="tabpanel" aria-labelledby="Research-tab">
                <p>The ‘Recovering Food Narratives’ repository draws from a research study on food, farming
                  and nutrition conducted by academics from IIT-Delhi in partnership with activists and
                  farmer-labourers from Sangtin, a local collective. From these findings, a portal was
                  conceptualised and developed in partnership with IIIT-Bangalore and Design Beku.</p>
                <p>The field research team conducted a multi-season food consumption survey of 102 families
                  (selected to represent caste and class heterogeneity) in 2 villages to gain insights
                  into current diets. Further, we conducted 27 focus group discussions, mainly with
                  elderly villagers in 24 villages across the region (see map), along with oral history
                  interviews with some of the respondents. We also interviewed over 60 farmers, traders,
                  processors, retailers, government officials, academics and local leaders to understand
                  the history of various food commodities that were part of local, regional and national
                  supply chains. This information was triangulated using historical accounts of the region
                  (going back to the pre-colonial period), district-level agricultural data and secondary
                  material on food and farming.</p>
              </div>
              <div class="tab-pane fade" id="Findings" role="tabpanel" aria-labelledby="Findings-tab">
                <p>We found that as cropping patterns changed, freely available foods were lost or became
                  commodified, and thus diets were transformed. Government policies and interventions not
                  only expanded monocropping of Green Revolution crops, they also facilitated the
                  conversion of ‘wastelands’, wetlands and other diverse commons into cultivated
                  monocropped fields. The penetration of packaged foods along with people's perceptions of
                  certain foods as ‘cultured’ and modern also drove the change (e.g. wheat replaced
                  millets, white sugar replaced jaggery, biscuits and chips replaced home-made millet
                  snacks).</p>
                <p>Past diets were diverse and rich in macronutrients and micronutrients such as protein
                  (dairy products, pulses, meat and fish) and iron (greens, oilseeds, meat). However,
                  current diets mainly comprise of processed carbohydrates and are severely deficient in
                  protein, micronutrients and fibre. This dietary transition has had serious negative
                  consequences. During our consumption survey, the respondents were weighed and underwent
                  a blood test. High levels of anaemia and low BMI were recorded for both men and women.
                  The low weight of young women and men were of particular concern.</p>
                <p>We also found that while hunger existed in the past, it was shaped by caste, class and
                  social position. Not everyone was hungry. Marginalised groups suffered from seasonal
                  deprivation because they lacked access to resources, especially fertile land, which was
                  unevenly distributed. These inequities date back to the colonial period, when the
                  British gave the landlords unprecedented rights, and pushed various communities into
                  agriculture while demeaning hunting and pastoral lifestyles. Gender was, and continues
                  to be, a major factor in dietary deprivation, with women not only suffering from lower
                  access to food, but also self-regulating their consumption, especially of meat.</p>
                <p>We hope that our findings about past and current diets, plus our subsequent discussions
                  and interventions will help us find ways out of this nutritional crisis. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="contentHindi" class="contentHindiToggle">
        <div class="row">
          <div class="col-lg-12 landing-text" id="food-and-farming-hindi">
            <h3 class="subtitle-home">
              खेती और खान-पान में बदलाव
            </h3><br>
            <p>1980 के दशक तक यह क्षेत्र, पश्चिमी अवध, दालें और मूँगफली के लिये मशहूर हुआ करता था। देश भर में पहुँचती थी
              सीतापुर की उरद, अरहर और मसूर की दाल। खरीफ की फसल कटने के बाद कई महीनों तक, मूँगफली से लदी सैकडो बैलगाड़ी
              और ट्रैक्टर सीतापुर मण्डी पहुँचती थी। दाल मिलों के साथ-साथ मूंगफली का तेल भी कारखानों में तैयार हो कर
              उत्तर भारत में कई जगह पहुँचता था।</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 imageHomeDiv">
            <center>
              <div class="imageHome">
                <figure>
                  <img src="/images/main/mapData/Map1_Hindi.jpg">
                  <figcaption id="captionHome1">Location of the study region</figcaption>
                </figure>
              </div>
            </center>
          </div>
          <div class="col-lg-6 imageHomeDiv">
            <center>
              <div class="imageHome">
                <figure>
                  <img src="/images/main/mapData/Map2_Hindi.jpg" id="imageHome2">
                  <figcaption id="captionHome2">An ahistorical sketch of the study region, depicting the
                    various features (some no longer in existence) described by respondents.
                  </figcaption>
                </figure>
              </div>
            </center>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 landing-intro">
            <p>यह दाल और मूँगफली क्षेत्र के लोगों के खान-पान का अहम हिस्सा था। साथ में मोटा अनाज, दुग्ध पदार्थ, देसी फल
              और मीट-मछली प्रमुखता से था। सर्दियों में गाँव में गुड़ बेल और भुर्जियों के ठेले, गर्मियों में आम और अमरूद
              के बगीचे, बरसात में हरा साग, मशरूम और मछलियाँ, हर मौसम में कई प्रकार की खाद्य सामग्री हुआ करती थी। ढेरों
              त्योहार अलग-अलग मौसम में उगने वाले फसल से जुड़े थे। अब हमारे सामने कई सवाल आये जैसे - कहाँ गई सारी विविधता,
              कहाँ गया पोषण? इनके गायब होने के क्या कारण रहे होंगे?</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 landing-pills">
            <ul class="nav nav-pills nav-pills-custom">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#ResearchHindi" role="tab"
                  aria-controls="pills-Research-hindi" aria-selected="true">शोध</a>
              </li>
            </ul>
            <div class="tab-content mt-3">
              <div class="tab-pane fade show active" id="ResearchHindi" role="tabpanel"
                aria-labelledby="Research-tab-hindi">
                <p>सीतापुर जिले में गंभीर कुपोषण को देखते हुए, संगतिन और आई. आई. टी. दिल्ली ने मिलकर खेती खाना और पोषण
                  के बीच रिश्तों को समझने की कोशिश की। इस शोध में हम 2 गांव के 102 परिवारों से (जो विभिन्न जाति और वर्ग
                  से थे) चार मौसमों में मिले और उनके खान-पान का सर्वे किया। इससे पता चला कि अधिकतर लोग सिर्फ गेहूं की
                  रोटी, सफेद चावल, चीनी, आलू, चाय और बाजारी पदार्थ, जैसे बिस्किट और रस्क, खा रहे है, जिससे उनके पोषण की
                  जरूरतें पूरे नहीं हो रही हैं। </p>
                <p>साथ में हमने 27 ग्रूप चर्चा के माध्यम से कई लोगों से, खास कर बुजुर्गों से, बात की, जिससे क्षेत्र की
                  पुरानी कृषि पद्धति, खान-पान और इनमें बदलाव के बारें में समझा। इनमें से कुछ जानकार लोगों से लम्बी
                  बातचीत हुई, और साथ में 60 से ज्यादा किसान, व्यापारी, सरकारी अधिकारी, उद्योगपति और सीतापुर के कुछ जाने
                  माने लोगों से भी बात चीत हुई। हम उन सब लोगों का आभार प्रकट करते हैं जिन्होनें अपना समय दिया और अपने
                  अनुभव हमसे साझा किए। जो जानकारी लोगों से मिली, उसे किताबी जानकारी से भी जोड़ा गया – जैसे ऐतिहासिक खाते,
                  जिला-स्तरीय कृषि डेटा और साहित्य समीक्षाएं। इन सब प्रक्रियाओं और जुड़ी समझ को हम इस पोर्टल के माध्यम
                  से साझा कर रहे हैं।</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%-include('includes/foot')%>